<div class="container intro-container">
  <h3>{{ site.about_title | default: "About Me" }}</h3>
  <div class="row clearfix">
    {%- if site.about_profile_image -%}
      <div class="col-xs-12 col-sm-4 col-md-3 no-print">
        <span class="profile-img" style="background-image: url({{ site.about_profile_image | relative_url }})" />
      </div>
    {%- endif -%}
    <div style="font-style:italic; font-size:1em;"class="{{ 'col-xs-12 ' }}{%- if site.about_profile_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
      <p>{{ site.about_content | strip | markdownify }}</p>
    </div>
    <div style="text-align: center;"class="{{ 'col-xs-12 ' }}">
       <p style="text-align: center; font-size:2rem; color:rgb(70, 75, 82);font-weight: bold;font-family:Helvetica">Looking For Resume??? <a style="font-size:2rem; color:rgb(66, 62, 50);font-weight: bold;font-family:Helvetica" href="images/img4.jpg" download="RESUME">RESUME</a> </p>
       
      
    </div>
  </div>
</div>
